<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link href="../../static/instatic/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="../../static/instatic/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Millor Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="../../static/instatic/js/jquery.min.js"> </script>
<!---- start-smoth-scrolling---->
		<script type="text/javascript" src="../../static/instatic/js/move-top.js"></script>
		<script type="text/javascript" src="../../static/instatic/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!---- start-smoth-scrolling---->
</head>
<body>
<!--header-->
<div class="banner">
	 <div class="container">
		 <div class="banner-top">		  
				<div class="logo">
					<a href="index.html"><img src="/static/instatic/images/2016080817053317.gif" class="img-responsive" alt=""/></a>
		  </div>			  
				 <div class="top-menu">
				 	<span class="menu"> </span> 
					<ul>
						<li><a class="hvr-shutter-out-horizontal"href="../index">首页</a></li>
						 <li><a class="active hvr-shutter-out-horizontal" href="../about">关于我们</a></li>
						 <li><a class="hvr-shutter-out-horizontal" href="../features">产品介绍</a></li>
			             <li><a class="hvr-shutter-out-horizontal" href="../portfolio">代理查询</a></li>
                         <li><a class="hvr-shutter-out-horizontal" href="../contact">联系我们</a></li>
                        <li><a class="hvr-shutter-out-horizontal" href="../account/register">用户注册</a></li>
                        <li>{{username}},</li>
				   </ul>				 
				 </div>	
				 		 <div class="clearfix"> </div>	 
 		   <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	 
	   </div>	
		 <div  class="banner-bottom">
		 	<div class="col-md-6 banner-left">
		 		<h1>移动支付</h1>
		 		<h2>APP</h2>
		 		<h3>MOBILE<span>  PAY</span></h3>
		 		<p>基于一个二维码，满足所有有支付收款的商户需求。 </p>
		 	</div>
		 	<div class="col-md-6 banner-right">
		 		<div class="app-img">
	 			  <img src="/static/instatic/images/3333.png" class="img-responsive" alt=""/>
		 		</div>
		 	</div>
		 	<div class="clearfix"> </div>
		 </div>
	</div>
</div>

<!--/header-->
<!--about-->
<div class="about">
	<div class="container">
		<h3>ABOUT US</h3>
		<div class="col-md-4 about-left">
			<img src="/static/instatic/images/p35398052.jpg" class="img-responsive" alt="" />
			
		</div>
		<div class="col-md-6 about-right">
		  <h4>金融指货币的发行、流通和回笼，贷款的发放和收回，存款的存入和提取，汇兑的往来等经济活动</h4>
			<p>金融的本质是价值流通。金融产品的种类有很多，其中主要包括银行、证券、保险、信托等。金融所涉及的学术领域很广，其中主要包括：会计、财务、投资学、银行学、证券学、保险学、信托学等等。金融是一种交易活动，金融交易本身并未创造价值，那为什么在金融交易中就有赚钱的呢？按照陈志武先生的说法，金融交易是一种将未来收入变现的方式，也就是明天的钱今天来花。
简单地说金融交易的频繁程度就是反映一个地区、区域、乃至国家经济繁荣能力的重要指标。
传统金融的概念是研究货币资金的流通的学科。而现代的金融本质就是经营活动的资本化过程。金融的核心是跨时间、跨空间的价值交换，所有涉及到价值或者收入在不同时间、不同空间之间进行配置的交易都是金融交易，金融学就是研究跨时间、跨空间的价值交换为什么会出现、如何发生、怎样发展。</p>
	</div>
	<div class="clearfix"> </div>
	<div class="about-grids">
		<h3>Why Choose Us</h3>
		<div class="col-md-4 about-grid">
			<span class="about-icon"><p>01</p></span>
			<div class="about-grid-info">
				<h4>专业</h4>
				<p>按照丁大卫的说法，古今中外黄金因其不可毁灭性、高度可塑性、相对稀缺性、无限可分性、同质性及色泽明亮等特性特点，成为经济价值最理想的代表、储存物、稳定器和交换媒介之一。</p>
			</div>
		</div>
				<div class="col-md-4 about-grid">
			<span class="about-icon"><p>02</p></span>
			<div class="about-grid-info">
				<h4>安全</h4>
				<p>按照丁大卫的说法，古今中外黄金因其不可毁灭性、高度可塑性、相对稀缺性、无限可分性、同质性及色泽明亮等特性特点，成为经济价值最理想的代表、储存物、稳定器和交换媒介之一。</p>
			</div>
		</div>
				<div class="col-md-4 about-grid">
			<span class="about-icon"><p>03</p></span>
			<div class="about-grid-info">
				<h4>快速</h4>
				<p>按照丁大卫的说法，古今中外黄金因其不可毁灭性、高度可塑性、相对稀缺性、无限可分性、同质性及色泽明亮等特性特点，成为经济价值最理想的代表、储存物、稳定器和交换媒介之一。</p>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="team">			
				<h2>OUR TEAM</h2>
				<div class="team-grid">
					<div class="col-md-3 team-grid-left">
						<div class="team-top">
							<img class="img-responsive" src="/static/instatic/images/3417256_co130i1141025-91.jpg" alt="">
					  </div>
						<h4>客服1号</h4>
						<p>客服一号</p>
					</div>
					<div class="col-md-3 team-grid-left">
						<div class="team-top">  
						<img class="img-responsive" src="/static/instatic/images/111023143406.jpg" alt="">
					  </div>
						<h4>客服2号</h4>
						<p>客服2号</p>						
					</div>
					<div class="col-md-3 team-grid-left ">
						<div class="team-top">
						<img class="img-responsive" src="/static/instatic/images/110318000254681.jpg" alt="">
				  </div>
						<h4>产品经理</h4>
						<p>产品经理</p>						
					</div>
					<div class="col-md-3 team-grid-left">
						<div class="team-top">
						<img class="img-responsive" src="/static/instatic/images/u=1423838550,883066627&fm=21&gp=0.jpg" alt="">
					  </div>
						<h4>产品经理2</h4>
						<p>产品经理2</p>						
					</div>
						<div class="clearfix"> </div>
				</div>
			</div>	
		</div>
		</div>
<!--/about-->
<!--Footer-->
<div class="footer">
	<div class="container">
		<div class="footer-head">
				<h5>Wanna stay in touch?</h5>
				<h3>400-888-<span>888-888</span></h3>
		</div>
			<div class="footer-bottom">
				<div class="col-md-4 footer-about">
					<h4>about us<i>.</i></h4>
					<h6>China 是一家针对线下商户支付服务专业解决方案提供商！</h6>
					<h5>专注<span>离线二维码</span>扫描支付</h5>
					<ul>
						<li><span class="call"> </span></li>
						<li><a href="malito:7836567@qq.com">7836567@qq.com</a></li>
					</ul>
					<ul>
						<li><span class="msg"> </span></li>
						<li><p>800-888-888-888</p></li>
					</ul>
					<ul>
						<li><span class="locator"> </span>
						<li>
						  <p>上海大宁路54号</p></li>
					</ul>
				</div>
				<div class="col-md-4 footer-news">
					<h4>We news<i>.</i></h4>
					<div class="footer-news-info">
					<div class="footer-img">
						<img src="/static/instatic/images/nwes-1.jpg" class="img-responsive" alt=""/>
					</div>
					<div class="footer-right">
						<h5>专业服务<i>.</i></h5>
						<ul>
							<li>
								<i class="chat"> </i>
								<p>24 小时</p>
							</li>
							<li>
								<i class="date"> </i>
								<p></p>
							</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					</div>
					<div class="footer-news-info">
						<div class="footer-img">
							<img src="/static/instatic/images/nwes-2.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="footer-right">
							<h5>just a super cool  person on fire<i>.</i></h5>
							<ul>
								<li>
									<i class="chat"> </i>
									<p><a href="#">24 Comments</a></p>
								</li>
								<li>
									<i class="date"> </i>
									<p>17 Jul 2014</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 flickr-photo">
					<h4>latest flickr photo<i>.</i></h4>
					<img src="/static/instatic/images/flicker-img.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="clearfix"> </div>
		    </div>
	</div>
</div>
<!--/Footer-->
<!--copyrights-->
<div class="copyrights">
	<div class="container"> 
		<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		<div class="social-icons">
			<a href="#"><span class="beh"> </span></a>
			<a href="#"><span class="face"> </span></a>
			<a href="#"><span class="pin"> </span></a>
			<a href="#"><span class="br"> </span></a>	
			<a href="#"><span class="in"> </span></a>				 
	  </div>
<div class="clearfix"> </div>
	</div>
</div>

<!--/copyrights-->
</body>
</html>