<!DOCTYPE html>
<html>
<head>
<title>Features</title>
<link href="../../static/instatic/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="../../static/instatic/css/style.css" rel="stylesheet" type="text/css" media="all"/>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Millor Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="../../static/instatic/js/jquery.min.js"> </script>
<!---- start-smoth-scrolling---->
		<script type="text/javascript" src="../../static/instatic/js/move-top.js"></script>
		<script type="text/javascript" src="../../static/instatic/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!---- start-smoth-scrolling---->

</head>
<body>
<!--header-->
<div class="banner">
	 <div class="container">
		 <div class="banner-top">		  
				<div class="logo">
					<a href="index.html"><img src="/static/instatic/images/2016080817053317.gif" class="img-responsive" alt=""/></a>
		  </div>			  
				 <div class="top-menu">
		 	      <span class="menu"> </span> 
					<ul>
						<li><a class="hvr-shutter-out-horizontal"href="../index">首页</a></li>
						 <li><a class="hvr-shutter-out-horizontal" href="../about">关于我们</a></li>
						 <li><a class="active hvr-shutter-out-horizontal" href="../features">产品介绍</a></li>
			             <li><a class="hvr-shutter-out-horizontal" href="../portfolio">代理查询</a></li>
                         <li><a class="hvr-shutter-out-horizontal" href="../contact">联系我们</a></li>
                        <li><a class="hvr-shutter-out-horizontal" href="../register">用户注册</a></li>
					 </ul>				 
				 </div>	
				 		 <div class="clearfix"> </div>	 
 		   <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	 
	   </div>	
		 <div  class="banner-bottom">
		 	<div class="col-md-6 banner-left">
		 		<h1>移动支付</h1>
		 		<h2>APP</h2>
		 		<h3>MOBILE<span>  PAY</span></h3>
		 		<p>基于一个二维码，满足所有有支付收款的商户需求。 </p>
		 	</div>
		 	<div class="col-md-6 banner-right">
		 		<div class="app-img">
	 			  <img src="/static/instatic/images/3333.png" class="img-responsive" alt=""/>
		 		</div>
		 	</div>
		 	<div class="clearfix"> </div>
		 </div>
	</div>
</div>

<!--/header-->
<!--Features-->
<div class="features">
	 <div class="container">
		 <div class="feature-text">
		 <h2>产品介绍</h2>
		 <p>金融的核心是跨时间、跨空间的价值交换，所有涉及到价值或者收入在不同时间、不同空间之间进行配置的交易都是金融交易，金融学就是研究跨时间、跨空间的价值交换为什么会出现、如何发生、怎样发展。
比如，"货币"就是如此。它的出现首先是为了把今天的价值储存起来，等明天、后天或者未来任何时候，再把储存其中的价值用来购买别的东西。 </p>
		 </div>
		 <div class="feature-section">
			 <div class="feature-grid">
				 <div class="feature-grid-pic">
					 <img src="/static/instatic/images/rBACE1IZtmKQiezHAAAX0BUp50g804_200x200_3.jpg" alt=""/>
			   </div>
				 产品1
				 <div class="feature-grid-info"><h3>&nbsp;</h3>
					 <p>但，货币同时也是跨地理位置的价值交换，今天你在张村把东西卖了，带上钱，走到李村，你又可以用这钱去买想要的东西。因此，货币解决了价值跨时间的储存、跨空间的移置问题，货币的出现对贸易、对商业化的发展是革命性的创新。
像明清时期发展起来的山西"票号"，则主要以异地价值交换为目的，让本来需要跨地区运物、运银子才能完成的贸易，只要送过去山西票号出具的"一张纸"即汇票就可以了！其好处是大大降低异地货物贸易的交易成本，让物资生产公司、商品企业把注意力集中在他们的特长商品上，把异地支付的挑战留给票号经营商，体现各自的专业分工！在交易成本如此降低之后，跨地区贸易市场不快速发展也难！ </p>
				 </div>
				 <div class="clearfix"> </div>
			 </div>
			 <div class="feature-grid">
				 <div class="feature-grid-pic">
					 <img src="/static/instatic/images/u=1423838550,883066627&fm=21&gp=0.jpg" alt=""/>
		     </div>
				 <div class="feature-grid-info">
					 <h3>产品2</h3>
					 <p>相比之下，借贷交易是最纯粹的跨时间价值交换，你今天从银行或者从张三手里借到一万元，先用上，即所谓的"透支未来"，以后你再把本钱加利息还给银行、还给张三。对银行和张三来说，则正好相反，他们把今天的钱借出去，转移到以后再花。
到了现代社会，金融交易已经超出了上面这几种简单的人际交换安排，要更为复杂。比如，股票所实现的金融交易，表面看也是跨时间的价值配置，今天你买下三一重工股票，把今天的价值委托给了三一重工和市场，今后再得到投资回报；三一重工则先用上你投资的钱，今后再给你回报。
你跟三一重工之间就这样进行价值的跨时间互换。但是，这种跨时间的价值互换又跟未来的事件连在一起，也就是说，如果三一重工未来赚钱了，它可能给你分红，但是，如果未来不赚钱，三一重工就不必给你分红，你就有可能血本无归。所以，股票这种金融交易也是涉及到既跨时间、又跨空间的价值交换，这里所讲的"空间"指的是未来不同赢利/亏损状态，未来不同的境况。 </p>
				 </div>
				 <div class="clearfix"> </div>
			 </div>			 
		 </div>
		 <div class="main feature-main">
		 	<h5>产品优势</h5>
			 <div class="col-md-6 service-top">
				 <div  class="service-pic">
					 <img src="/static/instatic/images/1.png" alt=""/>
				 </div>
				 <div class="service-info">
					 <h3>可靠的服务</h3>
					 <p>当然，对金融的这种一般性定义可能过于抽象，这些例子又好像过于简单。实际上，在这些一般性定义和具体金融品种之上，人类社会已经推演、发展出了规模庞大的各类金融市场，包括建立在一般金融证券之上的各类衍生金融市场，不外乎是为类似于上述简单金融交易服务的。金融交易范围从起初的以血缘关系体系为主，扩大到村镇、到地区、到全省、到全国，再进一步扩大到全球。
</p>
				 </div>
				 <div class="clearfix"> </div>
			 </div>
			 <div class="col-md-6 service-top">
				 <div  class="service-pic">
					 <img src="/static/instatic/images/2.png" alt=""/>
				 </div>
				 <div class="service-info">
					 <h3>专业搜索</h3>
					 <p>当然，对金融的这种一般性定义可能过于抽象，这些例子又好像过于简单。实际上，在这些一般性定义和具体金融品种之上，人类社会已经推演、发展出了规模庞大的各类金融市场，包括建立在一般金融证券之上的各类衍生金融市场，不外乎是为类似于上述简单金融交易服务的。金融交易范围从起初的以血缘关系体系为主，扩大到村镇、到地区、到全省、到全国，再进一步扩大到全球。
</p>
				 </div>
				 <div class="clearfix"> </div>
			 </div>
			 <div class="clearfix"> </div>
			 
			 <div class="col-md-6 service-bottom">
				 <div  class="service-pic">
					 <img src="/static/instatic/images/3.png" alt=""/>
				 </div>
				 <div class="service-info">
					 <h3>高度灵活</h3>
					 <p>当然，对金融的这种一般性定义可能过于抽象，这些例子又好像过于简单。实际上，在这些一般性定义和具体金融品种之上，人类社会已经推演、发展出了规模庞大的各类金融市场，包括建立在一般金融证券之上的各类衍生金融市场，不外乎是为类似于上述简单金融交易服务的。金融交易范围从起初的以血缘关系体系为主，扩大到村镇、到地区、到全省、到全国，再进一步扩大到全球。
</p>
				 </div>
				 <div class="clearfix"> </div>
			 </div>
			 <div class="col-md-6 service-bottom">
				 <div  class="service-pic">
					 <img src="/static/instatic/images/4.png" alt=""/>
				 </div>
				 <div class="service-info">
					 <h3>专业的客服</h3>
					 <p>当然，对金融的这种一般性定义可能过于抽象，这些例子又好像过于简单。实际上，在这些一般性定义和具体金融品种之上，人类社会已经推演、发展出了规模庞大的各类金融市场，包括建立在一般金融证券之上的各类衍生金融市场，不外乎是为类似于上述简单金融交易服务的。金融交易范围从起初的以血缘关系体系为主，扩大到村镇、到地区、到全省、到全国，再进一步扩大到全球。
</p>
				 </div>
				 <div class="clearfix"> </div>
			 </div>
			 <div class="clearfix"> </div>
		 </div>
		 <label> </label>
	 </div>
 </div>

<!--/Features-->
<!--Footer-->
<div class="footer">
	<div class="container">
		<div class="footer-head">
				<h5>Wanna stay in touch?</h5>
				<h3>400-888-<span>888-888</span></h3>
		</div>
			<div class="footer-bottom">
				<div class="col-md-4 footer-about">
					<h4>about us<i>.</i></h4>
					<h6>China 是一家针对线下商户支付服务专业解决方案提供商！</h6>
					<h5>专注<span>离线二维码</span>扫描支付</h5>
					<ul>
						<li><span class="call"> </span></li>
						<li><a href="malito:7836567@qq.com">7836567@qq.com</a></li>
					</ul>
					<ul>
						<li><span class="msg"> </span></li>
						<li><p>800-888-888-888</p></li>
					</ul>
					<ul>
						<li><span class="locator"> </span>
						<li>
						  <p>上海大宁路54号</p></li>
					</ul>
				</div>
				<div class="col-md-4 footer-news">
					<h4>We news<i>.</i></h4>
					<div class="footer-news-info">
					<div class="footer-img">
						<img src="/static/instatic/images/nwes-1.jpg" class="img-responsive" alt=""/>
					</div>
					<div class="footer-right">
						<h5>专业服务<i>.</i></h5>
						<ul>
							<li>
								<i class="chat"> </i>
								<p>24 小时</p>
							</li>
							<li>
								<i class="date"> </i>
								<p></p>
							</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					</div>
					<div class="footer-news-info">
						<div class="footer-img">
							<img src="/static/instatic/images/nwes-2.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="footer-right">
							<h5>just a super cool  person on fire<i>.</i></h5>
							<ul>
								<li>
									<i class="chat"> </i>
									<p><a href="#">24 Comments</a></p>
								</li>
								<li>
									<i class="date"> </i>
									<p>17 Jul 2014</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 flickr-photo">
					<h4>latest flickr photo<i>.</i></h4>
					<img src="/static/instatic/images/flicker-img.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="clearfix"> </div>
		    </div>
	</div>
</div>
<!--/Footer-->
<!--copyrights-->
<div class="copyrights">
	<div class="container"> 
		<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		<div class="social-icons">
			<a href="#"><span class="beh"> </span></a>
			<a href="#"><span class="face"> </span></a>
			<a href="#"><span class="pin"> </span></a>
			<a href="#"><span class="br"> </span></a>	
			<a href="#"><span class="in"> </span></a>				 
	  </div>
<div class="clearfix"> </div>
	</div>
</div>

<!--/copyrights-->
</body>
</html>