<!DOCTYPE html>
<html>
<head>
<title>金融贸易网站《网页设计》</title>
<link href="../../static/instatic/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="../../static/instatic/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Millor Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script src="/static/instatic/js/jquery.min.js"> </script>
<!--start-smoth-scrolling-->
		<script type="text/javascript" src="/static/instatic/js/move-top.js"></script>
		<script type="text/javascript" src="/static/instatic/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
<!--header-->
<div class="banner">
	 <div class="container">
		 <div class="banner-top">
				<div class="logo">
					<a href="index.html"><img src="/static/instatic/images/2016080817053317.gif" class="img-responsive" alt=""/></a>
		  </div>
				 <div class="top-menu">
				 	<span class="menu"> </span>
					<ul>
						 <li><a class="active hvr-shutter-out-horizontal"href="../account/index">首页</a></li>
						 <li><a class="hvr-shutter-out-horizontal" href="../account/about">关于我们</a></li>
						 <li><a class="hvr-shutter-out-horizontal" href="../account/features">产品介绍</a></li>
			             <li><a class="hvr-shutter-out-horizontal" href="../account/portfolio">代理查询</a></li>
                         <li><a class="hvr-shutter-out-horizontal" href="../account/contact">联系我们</a></li>
                        <li><a class="hvr-shutter-out-horizontal" href="../account/register">用户注册</a></li>
                        <li><h1>{{username}}</h1></li>
					 </ul>
				 </div>
				 		 <div class="clearfix"> </div>
				 		 		 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
		 </div>
		 <div  class="banner-bottom">
		 	<div class="col-md-6 banner-left">
		 		<h1>移动支付</h1>
		 		<h2>APP</h2>
		 		<h3>MOBILE<span>  PAY</span></h3>
		 		<p>基于一个二维码，满足所有有支付收款的商户需求。 </p>
		 	</div>
		 	<div class="col-md-6 banner-right">
		 		<div class="app-img">
	 			  <img src="/static/instatic/images/3333.png" class="img-responsive" alt=""/>
		 		</div>
		 	</div>
		 	<div class="clearfix"> </div>
		 </div>
	</div>
</div>

<!--/header--><!--services-->

<div  style="height:150px; text-align: center;"class="container">
	<div class="service-section-grids">

		<h3><strong>我们 的服务</strong></h3>
		<p>&nbsp;</p>
		<p>给您不一样的支付方式体验.</p>
<!--/services-->

<div class="features">
	<div class="container">
		<div class="features-head">
			<h3>some supercool features</h3>
			<p>Yes there are plenty. But you don't have to believe, just browse!</p>
		</div>
		<div class="features-grids">
		  <div class="clearfix"> </div>
	  </div>
	</div>

</div>


<img width="100%" src="/static/instatic/images/ABUIABACGAAgt-OAvAUohKzbugMwnQ44_gQ.jpg">
<!--/shecase-->
<div class="features">
	<div class="container">
		<div class="features-head">
			<h3>some supercool features</h3>
        </div>
  </div>

</div>

<img width="100%" src="/static/instatic/images/ABUIABACGAAg-auyvAUojLHH3AIw3As4twM.jpg" />
<img width="100%" src="/static/instatic/images/ABUIABAEGAAg3K2yvAUoj-SQ6Qcwjw447wY.png" />
<img width="100%" src="/static/instatic/images/ABUIABAEGAAgq7CyvAUoiJa6mQYwrw44_QU.png" />



<!--/features-->
<!--Footer-->
<div class="footer">
	<div class="container">
		<div class="footer-head">
				<h5>Wanna stay in touch?</h5>
				<h3>400-888-<span>888-888</span></h3>
		</div>
			<div class="footer-bottom">
				<div class="col-md-4 footer-about">
					<h4>about us<i>.</i></h4>
					<h6>China 是一家针对线下商户支付服务专业解决方案提供商！</h6>
					<h5>专注<span>离线二维码</span>扫描支付</h5>
					<ul>
						<li><span class="call"> </span></li>
						<li><a href="malito:7836567@qq.com">7836567@qq.com</a></li>
					</ul>
					<ul>
						<li><span class="msg"> </span></li>
						<li><p>800-888-888-888</p></li>
					</ul>
					<ul>
						<li><span class="locator"> </span>
						<li>
						  <p>上海大宁路54号</p></li>
					</ul>
				</div>
				<div class="col-md-4 footer-news">
					<h4>We news<i>.</i></h4>
					<div class="footer-news-info">
					<div class="footer-img">
						<img src="/static/instatic/images/nwes-1.jpg" class="img-responsive" alt=""/>
					</div>
					<div class="footer-right">
						<h5>专业服务<i>.</i></h5>
						<ul>
							<li>
								<i class="chat"> </i>
								<p>24 小时</p>
							</li>
							<li>
								<i class="date"> </i>
								<p></p>
							</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					</div>
					<div class="footer-news-info">
						<div class="footer-img">
							<img src="/static/instatic/images/nwes-2.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="footer-right">
							<h5>just a super cool  person on fire<i>.</i></h5>
							<ul>
								<li>
									<i class="chat"> </i>
									<p><a href="#">24 Comments</a></p>
								</li>
								<li>
									<i class="date"> </i>
									<p>17 Jul 2014</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 flickr-photo">
					<h4>latest flickr photo<i>.</i></h4>
					<img src="/static/instatic/images/flicker-img.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="clearfix"> </div>
		    </div>
	</div>
</div>
<!--/Footer-->
<!--copyrights-->
<div class="copyrights">
	<div class="container">
		<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		<div class="social-icons">
			<a href="#"><span class="beh"> </span></a>
			<a href="#"><span class="face"> </span></a>
			<a href="#"><span class="pin"> </span></a>
			<a href="#"><span class="br"> </span></a>	
			<a href="#"><span class="in"> </span></a>				 
	  </div>
<div class="clearfix"> </div>
	</div>
</div>

<!--/copyrights-->
</body>
</html>