<!DOCTYPE html>
<html>
<head>
<title>Features</title>
<link href="../../static/instatic/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="../../static/instatic/css/style.css" rel="stylesheet" type="text/css" media="all"/>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Millor Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="../../static/instatic/js/jquery.min.js"> </script>
<!---- start-smoth-scrolling---->
		<script type="text/javascript" src="../../static/instatic/js/move-top.js"></script>
		<script type="text/javascript" src="../../static/instatic/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!---- start-smoth-scrolling---->

</head>
<body>
<!--header-->
<div class="banner">
	 <div class="container">
		 <div class="banner-top">		  
				<div class="logo">
					<a href="index.html"><img src="/static/instatic/images/2016080817053317.gif" class="img-responsive" alt=""/></a>
		  </div>			  
				 <div class="top-menu">
		 	      <span class="menu"> </span> 
					<ul>
						 <li><a class="hvr-shutter-out-horizontal"href="../index">首页</a></li>
						 <li><a class="hvr-shutter-out-horizontal" href="../about">关于我们</a></li>
						 <li><a class="hvr-shutter-out-horizontal" href="../features">产品介绍</a></li>
			             <li><a class="active hvr-shutter-out-horizontal" href="../portfolio">代理查询</a></li>
                         <li><a class="hvr-shutter-out-horizontal" href="../contact">联系我们</a></li>
                        <li><a class="hvr-shutter-out-horizontal" href="../register">用户注册</a></li>
					 </ul>				 
</div>	
				 		 <div class="clearfix"> </div>	 
 		   <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	 
	   </div>	
		 <div  class="banner-bottom">
		 	<div class="col-md-6 banner-left">
		 		<h1>移动支付</h1>
		 		<h2>APP</h2>
		 		<h3>MOBILE<span>  PAY</span></h3>
		 		<p>基于一个二维码，满足所有有支付收款的商户需求。 </p>
		 	</div>
		 	<div class="col-md-6 banner-right">
		 		<div class="app-img">
	 			  <img src="/static/instatic/images/3333.png" class="img-responsive" alt=""/>
		 		</div>
		 	</div>
		 	<div class="clearfix"> </div>
		 </div>
	</div>
</div>

<!--/header-->
<!--Portfolio-->
	<div class="project">
		<div class="container">
			<h5>代理查询</h5>
			<div class="project-top">
				<h3>我们的代理客户</h3>
			</div>
			<div class="project-bottom">
				<div class="portfolios entertain_box  wow fadeInUp" data-wow-delay="0.4s" id="portfolio">
					<div class="portfolio-top">
						<ul id="filters" class="clearfix">
							<li><span class="filter active" data-filter="app card icon logo web photo">上海</span></li>
							<li><span class="filter" data-filter="app">北京</span></li>
							<li><span class="filter" data-filter="photo">广州</span></li>
							<li><span class="filter" data-filter="card photo">香港</span></li>
							<li><span class="filter" data-filter="icon card">台湾</span></li>
						</ul>
					<div id="portfoliolist">
						<div class="portfolio app mix_all"data-cat="app" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="/static/instatic/images/p-6.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="/static/instatic/images/port-6.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="/static/instatic/images/logo.png" /></h2>
							  	 </div></a>
			                </div>
						</div>				
						<div class="portfolio card mix_all"data-cat="card" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="/static/instatic/images/p-2.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="/static/instatic/images/port-2.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="/static/instatic/images/logo.png" /></h2>
							  	 </div></a>
			               	</div>
						</div>		
						<div class="portfolio photo mix_all"data-cat="photo" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="/static/instatic/images/p-3.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="/static/instatic/images/port-3.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="/static/instatic/images/logo.png" /></h2>
							  	 </div></a>
			                </div>
						</div>				
						<div class="portfolio icon mix_all"data-cat="icon" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="/static/instatic/images/p-4.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="/static/instatic/images/port-4.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="/static/instatic/images/logo.png" /></h2>
							  	 </div></a>
			                </div>
						</div>	
						<div class="portfolio photo mix_all"data-cat="photo" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="/static/instatic/images/p-5.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="/static/instatic/images/port-5.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="/static/instatic/images/logo.png" /></h2>
							  	 </div></a>
			                </div> 
						</div>			
						<div class="portfolio app mix_all"data-cat="app" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="/static/instatic/images/p-1.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title">
							     <img src="/static/instatic/images/port-1.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="/static/instatic/images/logo.png" /></h2>
							  	 </div></a>
			                </div>
			            </div>		
					</div>
				</div>
			   </div>
			</div>
		</div>
	</div>
	<!--end-project-->
	<link rel="stylesheet" href="../../static/instatic/css/swipebox.css">
	<script src="../../static/instatic/js/jquery.swipebox.min.js"></script>
	    <script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
		</script>
	<!-- Portfolio Ends Here -->
	<script type="text/javascript" src="../../static/instatic/js/jquery.mixitup.min.js"></script>
<script type="text/javascript">
$(function () {
	
	var filterList = {
	
		init: function () {
		
			// MixItUp plugin
		// http://mixitup.io
		$('#portfoliolist').mixitup({
			targetSelector: '.portfolio',
			filterSelector: '.filter',
			effects: ['fade'],
			easing: 'snap',
			// call the hover effect
			onMixEnd: filterList.hoverEffect()
		});				
	
	},
	
	hoverEffect: function () {
	
		// Simple parallax effect
		$('#portfoliolist .portfolio').hover(
			function () {
				$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
				$(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');				
			},
			function () {
				$(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
				$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');								
			}		
		);				
	
	}

};

// Run the show!
	filterList.init();
	
});	
</script>
<!--/Portfolio-->
<!--Footer-->
<div class="footer">
	<div class="container">
		<div class="footer-head">
				<h5>Wanna stay in touch?</h5>
				<h3>400-888-<span>888-888</span></h3>
		</div>
			<div class="footer-bottom">
				<div class="col-md-4 footer-about">
					<h4>about us<i>.</i></h4>
					<h6>China 是一家针对线下商户支付服务专业解决方案提供商！</h6>
					<h5>专注<span>离线二维码</span>扫描支付</h5>
					<ul>
						<li><span class="call"> </span></li>
						<li><a href="malito:7836567@qq.com">7836567@qq.com</a></li>
					</ul>
					<ul>
						<li><span class="msg"> </span></li>
						<li><p>800-888-888-888</p></li>
					</ul>
					<ul>
						<li><span class="locator"> </span>
						<li>
						  <p>上海大宁路54号</p></li>
					</ul>
				</div>
				<div class="col-md-4 footer-news">
					<h4>We news<i>.</i></h4>
					<div class="footer-news-info">
					<div class="footer-img">
						<img src="/static/instatic/images/nwes-1.jpg" class="img-responsive" alt=""/>
					</div>
					<div class="footer-right">
						<h5>专业服务<i>.</i></h5>
						<ul>
							<li>
								<i class="chat"> </i>
								<p>24 小时</p>
							</li>
							<li>
								<i class="date"> </i>
								<p></p>
							</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
					</div>
					<div class="footer-news-info">
						<div class="footer-img">
							<img src="/static/instatic/images/nwes-2.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="footer-right">
							<h5>just a super cool  person on fire<i>.</i></h5>
							<ul>
								<li>
									<i class="chat"> </i>
									<p><a href="#">24 Comments</a></p>
								</li>
								<li>
									<i class="date"> </i>
									<p>17 Jul 2014</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 flickr-photo">
					<h4>latest flickr photo<i>.</i></h4>
					<img src="/static/instatic/images/flicker-img.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="clearfix"> </div>
		    </div>
	</div>
</div>
<!--/Footer-->
<!--copyrights-->
<div class="copyrights">
	<div class="container"> 
		<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		<div class="social-icons">
			<a href="#"><span class="beh"> </span></a>
			<a href="#"><span class="face"> </span></a>
			<a href="#"><span class="pin"> </span></a>
			<a href="#"><span class="br"> </span></a>	
			<a href="#"><span class="in"> </span></a>				 
	  </div>
<div class="clearfix"> </div>
	</div>
</div>

<!--/copyrights-->
</body>
</html>